global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'backend'
    scrape_interval: 5s
    static_configs:
      - targets: ['backend:5000']

  - job_name: 'ml-service'
    scrape_interval: 5s
    static_configs:
      - targets: ['ml-service:7860']

  - job_name: 'otel-collector'
    static_configs:
      - targets: ['otel-collector:8888']
